* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

a {
    text-decoration: none;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #032030;
}

.header {
    padding: 0 2.5vw;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #022B42;
    box-shadow: inset 5px 5px 10px #003554,
        inset -5px -5px 10px #003554;
}

.header .logo h3 {
    font-size: 1.5vw;
    cursor: pointer;
}

.navbar-list {
    margin: auto 0;
    display: flex;
    gap: 3.5vw;
    list-style: none;
    align-items: center;

}

.cv-btn{
width: 8vw;
height: 2vw;
align-items: center;
text-align: center;
font-weight: 500;
font-size: 1vw;
cursor: pointer;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    transition: all 0.5s;
}

.navbar-link:hover,
.navbar-link:active {
    color: #7b7979;
}

.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}


.mobile-nav-icon {
    width: 2rem;
    font-size: 1rem;
    height: 2rem;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}


#main {
    width: 100%;
    height: auto;
}


#main-section {
    margin: 3vw auto;
    width: 95vw;
    padding: 5vw;
    display: flex;
    gap: 5vw;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    /* background: #341c4d; */
    background: #022B42;
    box-shadow: inset 5px 5px 10px #003554,
        inset -5px -5px 10px #003554;

}

.left {
    align-items: center;
    width: 50vw;
    height: 30vw;
    padding: 0.5rem;
}

.left h1 {
    font-size: 3vw;
    font-weight: 800;
    color: #f4b057;
}

.left .main-pera {
    padding: 5vw 0;
    width: 100%;
    height: 20vw;
}

.left .main-pera p {
    font-size: 1.4vw;
    font-weight: 600;
}

.loction {
    display: flex;
    gap: 1vw;
    align-items: center;
    width: 15vw;
    height: 5vw;
}

.loction i {
    color: #3cff3c;
    font-size: 2vw;
}




/* ///////////////////////////////// */

.right {
    width: 25vw;
    height: 30vw;

}

.right .main-pic {
    margin: 0 auto;
    width: 25vw;
    height: 30vw;
    text-align: center;

}

.right .main-pic img {
    width: 25vw;
    height: 30vw;
    background-position: center;
    background-size: cover;
    border-radius: 9px;
    background: #341c4d;
    box-shadow: inset 5px 5px 10px #341c4d,
        inset -5px -5px 10px #341c4d;
}


/* ///////////////////////////////////////////  */
/* skills  */


#skills-boxs {
    margin: 1vw auto;
    padding: 3vw 0;
    width: 95vw;
    /* height: 30vw; */
    /* background-color: #f4b057; */
    border-radius: 9px;
    background: #003554;
    box-shadow: inset 5px 5px 10px #022B42,
        inset -5px -5px 10px #022B42;
}


#skills-boxs .skills-heading {
    width: 10rem;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

#skills-boxs .skills-heading h1 {
    margin: 0 auto;
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
}

#skills-boxs .box1,
.box2 {
    width: 95vw;
    margin: 0 auto;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    /* border: 1px solid #000; */

}

#skills-boxs .box {
    margin: 4vw auto;
    width: 6rem;
    height: 6rem;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}


#skills-boxs .box img {
    width: 6rem;
    height: 6rem;
    background-position: center;
    background-size: cover;
}







.skills-texts {
    margin: 1rem auto;
    padding: 1rem;
    width: 95vw;
    font-size: 1rem;
    color: #fff;
    background: #022B42;
    box-shadow: inset 5px 5px 10px #003554,
        inset -5px -5px 10px #003554;
}

.skills-texts h1 {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.skills-texts p {
    font-weight: 400;
    text-align: left;
    margin: 2rem 10%;
    padding: 1rem;
    border-radius: 9px;
    background: #f4b057;
    box-shadow: inset 35px 35px 38px #cd9449,
        inset -35px -35px 38px #ffcc65;

}