* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

a {
    text-decoration: none;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.header {
    padding: 0 2.5vw;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #451952;
}

.header .logo h2 {
    font-size: 3vw;
}

.navbar-list {
    margin: auto 0;
    display: flex;
    gap: 3.5vw;
    list-style: none;

}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    transition: all 0.5s;
}

.navbar-link:hover,
.navbar-link:active {
    color: #662549;
}

.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}


.mobile-nav-icon {
    width: 2rem;
    font-size: 1rem;
    height: 2rem;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}


#main {
    width: 100%;
    height: auto;
}


#home {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2vw 5vw;
    width: 100vw;
    /* background-color: #40c9ff; */
    /* margin-bottom: -15rem; */
}

#main-text {
    margin-top: 5rem;
    margin-left: -2vw;
    width: 50vw;
    height: 40vw;
    color: #fff;
}

/* .text {
    margin-top: 7.5vw;
} */

#main-text h1 {
    color: #bc01bc;
    margin-right: 8vw;
    font-size: 3.6vw;
}

#main-text h3 {
    margin-left: 10vw;
    font-size: 2.7vw;
    color: blueviolet;
}

/* #main-text .main-pera{
    /* border: 1px solid red; 
}  */

#main-text p {
    margin-right: 8vw;
    width: 45vw;
    color: #000;
}



.con-btn {

    margin: 1.5vw auto;
    width: 15vw;
    height: 4vw;
    background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 1.5px solid transparent;
    padding: 0.8vw 3.7vw;
    font-size: 1.2vw;
    font-weight: 600;
    font-family: inherit;
    color: #bc01bc;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



#main-pic {
    margin-top: 4rem;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-image: url(./static/imgs/kunal.jpg);
    background-position: center;
    background-size: cover;
}


.hr {
    margin: 0 auto;
    width: 90vw;
    height: 0.1vw;
    background-color: #048ff9;

}

/* .hr-skills {
    margin: 5vw auto;
    width: 90vw;
    height: 0.2vw;
    border-radius: 50%;
    background-color: #048ff9;

} */


/* ///////////////////////////////////////////  */
/* skills  */


#skills-boxs {
    margin: 0 auto;
    width: 80vw;
    height: 30vw;
    font-size: 3rem;
    /* background-color: #f4b057; */
}


#skills-boxs .skills-heading {
    width: 10rem;
    align-items: center;
    text-align: center;
    /* padding: 1rem; */
    margin: 0 auto;

}

#skills-boxs .skills-heading h1 {
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 700;
    
}

#skills-boxs .box1,
.box2 {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8rem;
    background-color: #f4b057;
}

#skills-boxs .box h5 {
    margin: 1.5rem auto;
    font-weight: 600;
    text-transform: uppercase;
}


#skills-boxs .box {
    margin: 2rem auto;
    width: 6rem;
    height: 6rem;
    align-items: center;
    text-align: center;
}


#skills-boxs .box img {
    width: 6rem;
    height: 6rem;
    background-position: center;
    background-size: cover;
}

.skills-texts {
    margin: 0rem auto;
    width: 100%;
    font-size: 1rem;
}

.skills-texts h1 {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.skills-texts p {
    font-weight: 400;
    text-align: left;
    margin: 2rem 10%;
    padding: 1rem;
    background-color: #af72c2;
    color: #000;
}