@media (max-width:980px) {
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
    }

    .header {
        position: relative;
    }


    .navbar {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background-color: #F39F5A;
        position: absolute;
        top: 0;
        left: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* text-align: center; */

        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }


    .navbar-list {
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */

    }


    .navbar-list li {
        margin-right: 30vw;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon [name="grid-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon [name="close-outline"] {
        display: none;
    }


    #home {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 1vw 5vw;
        margin-bottom: -1.5rem;
        width: 100vw;
        font-size: 0.9rem;
    }

    #main-pic {
        margin: 10vw 2vw 2vw 2vw;
    }

    #skills-boxs {
        margin: 0 auto;
        width: 80vw;
        height: 30vw;
        /* border: 1px solid red; */
        font-size: 3rem;

    }


    #skills-boxs .box1,
    .box2 {
        margin: 0 auto;
        width: 80vw;
        height: 13vw;
    }

    #skills-boxs .box img {
        width: 4.5rem;
        height: 4.5rem;
    }



}


@media (max-width:738px) {

    #home {
        margin-bottom: 2rem;
    }




    #main-text .main-pera p {
        font-size: 0.8rem;

    }

    .skills-heading {
        margin: 0 auto;
    }


    #skills-boxs .skills-heading h1 {
        font-weight: 700;
        font-size: 2rem;
        margin: 1.5rem auto;
    }

    #skills-boxs .box1,
    .box2 {
        gap: 1px;
    }

    #skills-boxs .box {
        width: 2rem;
    }


    #skills-boxs .box img {

        width: 3.5rem;
        height: 3.5rem;
    }

    .skills-texts h1 {
        margin-top: 3rem;
        font-size: 2rem;
    }


}

@media (max-width:560px) {

    .header {
        text-align: center;
        padding: 0 2.4rem;
    }

    .header .logo h2 {
        font-size: 1.3rem;
        width: 40%;
    }


    #home {
        width: 90%;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        font-size: 0.6rem;
        /* border: 1px solid red; */
        margin: 1rem auto;
    }

    #main-text {
        margin-top: 1rem;
        margin-bottom: 1%;
        width: 100%;
    }


    #main-text .home-headings {

        width: 100%;
        margin-left: -4rem;
    }

    #main-text .home-headings h1 {
        font-size: 2.5rem;
    }

    #main-text .home-headings h3 {
        font-size: 2rem;
    }

    .con-btn {
        align-items: center;
        padding: 0.5rem;
        border: 2.5px solid transparent;
        margin: 0rem auto;
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }

    #main-text .main-pera .p {
        width: 100%;
        height: 10rem;
        margin: 1rem auto;
        /* padding: 1rem; */
        background-color: #F39F5A;
    }

    #main-pic {
        margin-top: 6rem;
        width: 18rem;
        height: 18rem;
        border-radius: 0.1px;
    }

    .skills-heading {
        width: 100%;
        height: 4rem;
    }

    .skills-heading h1 {
        width: 100%;
        margin: 1rem auto;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
    }

    #skills-boxs {
        display: flex;
        height: 35rem;
        margin: 0 auto;
    }



    #skills-boxs .box1,
    .box2 {
        margin: 0 auto;
        height: 35rem;
        flex-direction: column;

    }

    #skills-boxs .box {
        width: 6rem;
        height: 6rem;
        /* border: 1px solid red; */
    }


    #skills-boxs .box img {
        width: 5rem;
        height: 5rem;
    }


    .skills-texts {
        margin-top: 1rem;
    }

}


@media (max-width:370px) {

    #main-pic{
        margin-top: 20rem;
    }

    #main-text .main-pera .p {
        height: 15rem;
        padding: 1rem;
        text-align: left;
    }

.home-headings{
    margin-right: -1vw;
    padding: 1rem;
    width: 100vw;
    }

    .home-headings h1{
        font-size: 2.5rem;
        font-weight: 700;
        width: 100vw;
     
    }

    .home-headings h3{
        font-size: 2rem;
        font-weight: 600;
        width: 100vw;
     
    }

    .con-btn{
        margin-top: 1rem;
        margin-left: 11rem;
    }

}